@import url("header.css");
@import url("footer.css");
.main-img{
	width: 100%;

}
.main-img img{
	width: 100%;
	display: block;
	
}
.huise{
	background-color: #606060;
	width: 100%;
	height:30px;
	text-align: center;
	line-height: 30px;
}
.content-top{
	border-bottom: 1px solid #efefef;
	padding: 25px 0 15px 0;
}
.content-top p{
	font-size: 12px;
	color: #d5d5d5;
}

.p1{
	color:#606060;
	font-size: 19px;
	padding-top: 120px;
	

}
.p2{
	color:#a9a9a9;
	font-size: 14px;
	padding-top: 20px;
	
}
.content-main img{
	float: left;
}
.content-main span{
	display: inline-block;
	padding: 6px 25px;
	background-color: #cb2f3c;
	color: white;
	margin-top: 10px;
	cursor:pointer ;
}
.content-main-right{
	margin-left: 400px;
}
.content-main2 img{
	float: right;
}
.content-main2 span{
	display: inline-block;
	padding: 6px 25px;
	background-color: #0071bd;
	color: white;
	margin-top: 10px;
	cursor:pointer ;
}
.content-main2-right{
	margin-left: 15px;
}
.content-main3 img{
	float: left;
}
.content-main3 span{
	display: inline-block;
	padding: 6px 25px;
	background-color: #7b7b02;
	color: white;
	margin-top: 10px;
	cursor:pointer ;
}
.content-main3-right{
	margin-left: 540px;
}
.content-main4 img{
	float: right;
}
.content-main4 span{
	display: inline-block;
	padding: 6px 25px;
	background-color: #860503;
	color: white;
	margin-top: 10px;
	cursor:pointer ;
}
.content-main4-right{
	margin-left: 15px;
}
.content-main5 img{
	float: left;
}
.content-main5 span{
	display: inline-block;
	padding: 6px 25px;
	background-color: #27242c;
	color: white;
	margin-top: 10px;
	cursor:pointer ;
}
.content-main5-right{
	margin-left: 520px;
}
.content{
	padding-bottom: 250px;
}
